@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
	font-family: 'Raleway', sans-serif;
 }
/*------ fin de reset CSS-----*/
a{
    text-decoration: none;
}
h2{/*instrucciones.php*/
    font-size: 1.5em;
    text-align: center;
    padding: 3%;
}
input[type=email], input[type=password], input[type=text]{/*principal.php     registro.php*/
    padding: 1%;
    width: 95%;
    margin-bottom: 4%;
    text-align: center;
}
input[type=submit]{/*principal.php     registro.php*/
    background-color: #040652;
    color: white;
    border-radius: 15px;
    padding: 1%;
    display: block;
    width: 30%;
    margin: auto;
    margin-bottom: 4%;
    text-align: center;
}
input[type=submit]:hover{/*principal.php*/
    cursor: pointer;
}
select{/*principal.php     registro.php*/
    padding: 1%;
    width: 97%;
    height: 28px;
    margin-bottom: 4%;
    text-align: center;
}
.a_1{/*index.php*/
    display: block;
    text-align: right;
    padding-right: 3%;
    color: #040652;
    text-decoration: none;
    line-height: 50px;
    font-weight: bold;
    width: 10%;
    background-color: orange;
    margin-left: auto;
}
.Afiliacion_4{/*principal.php    registro.php*/
    padding: 5%;
    width: 90%;
    border-radius: 15px;
}
.Afiliacion_4{/*principal.php    registro.php*/
    margin-top: 5%;
}
.contenedor_3{/*index.php*/
    width: 40%;
    margin: 5% auto;
}
.contenedor_4{/*index.php*/
    width: 100%;
}
.contenedor_5{/*index.php*/
    display:none ;
    width: 100% ;
}
.contenedor_6{/*index.php*/
    background-color: rgba(33, 240, 86, 0.6);
    border-radius: 15px;
    margin-top: 10%;
    padding: 5%;
    padding-left: 10%;
}
.contenedor_7{/*index.php*/
    display:grid; 
    grid-template-columns: 70% 25%;
}
.contenedor_8{/*index.php*/
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 5;
}
.contenedor_9{/*index.php*/
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 5;
}
.contendor_10{/*index.php*/
    background-color: rgba(30, 250, 23, 0.4);
    height: 50px;
}
.contenedor_11{/*principal.php*/
    width: 30%;
    margin: auto;
}
.contenedor_12{/*principal.php*/
    border-radius: 15px;
    margin: 20% 0%;
}
.contenedor_13{/*principal.php*/
    width: 75%;
    margin: auto;
    margin-bottom: 5%;
}
.contenedor_16{/*principal.php*/
    display: none;
}
.etiqueta_34{/*registro.php*/
    display: block;
    width: 96%;
    text-align: center;
}
h1{
	font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 3%;
}
.td_1{/*Resultados.php*/
    text-align: center;
}
tr{/*Resultados.php*/
    height: 25px;
}
.input_1{/*index.php*/
    background-color: rgba(0, 0, 255, 0.1);
    margin: 5% auto;
    display: block;
    font-size: 1.2em;
    text-align: center;
    padding: 1%;
}
.label_1{/*index.php    AvisoIn.php*/
    margin:5% auto;
    display: block;
    text-align: center;
    width: 40%;
    background-color: #040652;
    border-radius: 15px;
    padding: 1.5%;
    color: white;
    font-weight: bold;
}
.label_1:hover{
    cursor: pointer;
}
.label_2{/*principal,php*/
    color: #040652;
    display: block;
    width: 30%;
    margin: auto;
    margin-bottom: 4%;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
.label_2:hover{/*principal,php*/
    cursor: pointer;
}
.li_1{/*instrucciones.php*/
    font-size: 1.1em;
    padding: 2%;
    text-align: justify;
}
.modal{
	width: 100%;
	height: 200vh;
	background-color: rgba(0,0,0,0.85);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	
	animation: modal 1.5s;/*tiempo que tarda en formarse la animacion*/
	animation-delay: 0s;/*tiempo que tarda en aparecer la animacion, despues que ha cargado la pagina del fondo*/
	animation-fill-mode: forwards;/*la animacion se queda fija*/
	visibility: hidden;
	opacity: 0;
}
.contenedor_modal{/*#F4FCFB*/
	background-color:rgba(244,252,251,0.9) ;
	border-radius: 15px; 
	border-color: rgba(4, 6, 82, 1);
	border-width: 1px;
	border-style: solid;
	width: 100%; 
	margin: 10% auto; 
	padding: 5% 2%;
}
.option_1{/*registro.php*/
    color: rgba(0, 0, 0, 0.2);
    background-color: red;
}
.p_1{/*index.php*/
    background-color: yellow;
    width: 8%;
    font-size: 2em;
    font-weight: bold;
    /* line-height: 10px; */
    padding: 0% 2%;
    padding-top: 0.7%;
    letter-spacing: 1vw;
    text-align: center;
    margin: 3% auto;
}
.p_2{/*index.php*/
	font-size:1.5em;
	width: 90%;
    margin: 1% auto;
    text-align: center;
}
.parrafo_1{/*principal.php*/
    text-align: center;
}
.parrafo_2{/*AvisoIn.php      AvisoOut.php*/
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 3%;
}
.parrafo_3{/*AvisoIn.php      AvisoOut.php*/
    font-family: Raleway;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 2%;
}
.recordar{/*principal.php*/
    display: inline-block;
    margin-left: 5%;
}
.span_1{/*principal.php*/
    font-family: Caveat;
    font-size: 1.5em;
    font-weight: bold;
}
.table_1{/*Resultados.php*/
    background-color: yellow;
    margin: 5% auto;
    width: 100% ;
}