@media (min-width: 500px) and (max-width: 800px){/*aplicaría en cualquier medio con dimensiones entre 500 y 800 píxeles.*/
h1{
	font-size: 2.5em;
	display: block;
	margin: 10% auto;
}
.a_1{/*index.php*/
	width: 30%;
}
.contenedor_3{/*index.php*/
    width: 80%;
    margin: 5% auto;
}
.contenedor_4{/*index.php*/
    width: 100%;
}
.contenedor_7{/*index.php*/
    display:grid; 
    grid-template-columns: 100%;
}
.contendor_10{/*index.php*/
	height: 50px;
}
.input_1{/*index.php*/
    margin: 7% auto;
    display: block;
    font-size: 1.2em;
    text-align: center;
	padding: 1%;
	width: 100% !important;
}
.p_1{/*index.php*/
    width: 30%;
    margin: 10% auto;
}
.p_2{/*index.php*/
	font-size:1.1em;
	line-height: 35px;
}
}
